body {
  width: 100%;
  overflow-x: hidden;
}
body::after {
  content: "";
  width: 700px;
  height: 700px;
  position: absolute;
  left: -350px;
  top: -350px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1725490196);
  filter: blur(100px) blur(100px) blur(100px);
  border-radius: 100%;
}

section.starting-section .profile {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.055));
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 40px;
  overflow: hidden;
}
section.starting-section .profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.starting-section .name {
  font-size: 13px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, rgba(201, 201, 201, 0.205), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.055));
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
  border-radius: 30px;
  line-height: 100%;
  left: 0;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  right: 0;
  margin: auto;
  margin-top: 24px;
}
@media (max-width: 1050px) {
  section.starting-section .name {
    margin-top: 15px;
  }
}
section.starting-section .title {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  width: 60%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: calc(100% + 10px);
  margin-top: 16px;
}
@media (max-width: 1050px) {
  section.starting-section .title {
    width: 100%;
    margin-top: 15px;
    font-size: 35px;
  }
}
@media (max-width: 991px) {
  section.starting-section .title {
    width: 100%;
    margin-top: 15px;
    font-size: 30px;
  }
}
@media (max-width: 650px) {
  section.starting-section .title {
    width: 100%;
    margin-top: 15px;
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  section.starting-section .title {
    width: 100%;
    margin-top: 15px;
    font-size: 25px;
  }
}
section.starting-section .title b {
  background-image: linear-gradient(120deg, rgb(200, 119, 255), rgb(87, 32, 240), rgba(78, 69, 197, 0.842));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  filter: brightness(150%);
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3019607843);
}
section.starting-section .desc {
  font-size: 14px;
  color: #fff;
  text-align: center;
  width: 60%;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: 600;
  margin-top: 15px;
}
@media (max-width: 1050px) {
  section.starting-section .desc {
    width: 100%;
    margin-top: 15px;
  }
}
section.starting-section .action {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
section.starting-section .action button {
  font-size: 13px;
  color: #fff;
  background-color: rgb(4, 14, 61);
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  padding: 12px 60px;
  border-radius: 40px;
  letter-spacing: 2px;
}
section.starting-section .balloms .tecnologies {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 20px;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.055), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.055));
  padding: 5px 14px;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  z-index: -1;
  height: -moz-max-content;
  height: max-content;
  opacity: 14%;
}
section.starting-section .balloms .tecnologies.tech-1 {
  left: 0;
  right: 80%;
  bottom: 0;
  top: -20%;
  margin: auto;
}
section.starting-section .balloms .tecnologies.tech-1-1 {
  left: 0;
  right: 85%;
  bottom: 0;
  top: -60%;
  margin: auto;
}
section.starting-section .balloms .tecnologies.tech-2 {
  left: 0;
  right: -60%;
  bottom: 0;
  top: -30%;
  margin: auto;
}
section.starting-section .balloms .tecnologies.tech-3 {
  left: 0;
  right: -70%;
  bottom: 0;
  top: -60%;
  margin: auto;
}
section.starting-section .balloms .tecnologies.tech-4 {
  left: 0;
  right: -70%;
  bottom: 0;
  top: 60%;
  margin: auto;
}
section.starting-section .balloms .tecnologies.tech-4-1 {
  left: 0;
  right: -85%;
  bottom: 0;
  top: 10%;
  margin: auto;
}
section.starting-section .balloms .tecnologies.tech-5 {
  left: 0;
  right: 70%;
  bottom: 0;
  top: 60%;
  margin: auto;
}
section.starting-section .balloms .tecnologies.tech-7 {
  left: 0;
  right: 20%;
  bottom: 0;
  top: -50%;
  margin: auto;
}
section.starting-section .balloms .tecnologies.tech-8 {
  left: 0;
  right: 40%;
  bottom: -20px;
  top: -20%;
  margin: auto;
}

section.intro-blocks {
  margin-top: 80px;
}
section.intro-blocks .my-title .title {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
section.intro-blocks .my-title .title svg {
  margin-right: 5px;
}
section.intro-blocks .my-title .desc {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}
section.intro-blocks .row .col-sm-6 {
  width: 33.3333333333%;
}
@media (max-width: 991px) {
  section.intro-blocks .row .col-sm-6 {
    width: 50%;
  }
}
@media (max-width: 400px) {
  section.intro-blocks .row .col-sm-6 {
    width: 50%;
  }
}
section.intro-blocks .row .col-sm-6 .card {
  background: none;
}
section.intro-blocks .row .col-sm-6 .card .card-body {
  padding: 0;
  display: flex;
  gap: 10px;
}
section.intro-blocks .row .col-sm-6 .card .card-body .icon {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.intro-blocks .row .col-sm-6 .card .card-body .icon svg {
  width: 25px;
  height: 25px;
}
section.intro-blocks .row .col-sm-6 .card .card-body .icon svg path {
  fill: rgba(255, 255, 255, 0.5490196078);
}
section.intro-blocks .row .col-sm-6 .card .card-body .text {
  width: calc(100% - 50px);
}
section.intro-blocks .row .col-sm-6 .card .card-body .text .title {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 4px;
}
section.intro-blocks .row .col-sm-6 .card .card-body .text .desc {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.61);
}
section.intro-blocks .row.shprt .col-sm-6 {
  width: 25%;
}
@media (max-width: 991px) {
  section.intro-blocks .row.shprt .col-sm-6 {
    width: 50%;
  }
}
@media (max-width: 400px) {
  section.intro-blocks .row.shprt .col-sm-6 {
    width: 50%;
  }
}
section.intro-blocks .row.shprt .col-sm-6 .card .card-body .text {
  display: flex;
  align-items: center;
}

.modal-dialog .modal-content {
  border-radius: 0;
  background-color: var(--general);
  border: 2px dashed rgba(255, 255, 255, 0.1725490196);
}
.modal-dialog .modal-content .title {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}
.modal-dialog .modal-content .desc {
  font-size: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7882352941);
}
.modal-dialog .modal-content .contact {
  padding: 10px 5px;
  font-family: var(--family_1);
  color: #fff;
  display: flex;
  gap: 10px;
  border-radius: 10px;
}
.modal-dialog .modal-content .contact .icon {
  display: flex;
  align-items: center;
}

.fm {
  background-color: var(--light-white);
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  padding: 2px 5px;
}/*# sourceMappingURL=index.css.map */